<mat-card class="dashboard-card">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content class="p-2">
    <mat-grid-list cols="2" rowHeight="2.5:1" class="camera-buttons mt-0">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <button mat-raised-button color="primary" class="systembutton">
            <h2 class="my-3">Depth Hold</h2>
          </button>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <button mat-raised-button color="primary" class="systembutton">
            <h2 class="my-3">Active Overload</h2>
          </button>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <button mat-raised-button color="primary" class="systembutton">
            <h2 class="my-3">Vertical Stab</h2>
          </button>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <button mat-raised-button color="primary" class="systembutton">
            <h2 class="my-3">Horizontal Stab</h2>
          </button>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <button mat-raised-button color="primary" class="systembutton">
            <h2 class="my-3">Safe Mode</h2>
          </button>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <button mat-raised-button color="primary" class="systembutton">
            <h2 class="my-3">Spare Button</h2>
          </button>
        </mat-card-actions>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>