.button-card {
  margin-top: 2%;
  left: 2%;
  width: 96%;
  height: 59%;
}

.powerbutton {
  background-color: #4CAF50 !important;
  width: 92%;
  margin-left: 4%;
  margin-top: 7%;
}

.otherbuttons {
  margin-right: 1%;
  width: 31.25%;
  background-color: #496de0;
}

.triplebuttonwrapper{
  margin-top: 8%;
  margin-left: 4%;
}
