.line {
    width: 90%;
    background-color: #8191A8;
    margin-top: 10%;
    margin-bottom: 7%;
}
.smalltext {
    font-size: 15px;
    text-align: left;
    margin-top: 2%;
    color: #8191A8;
}
.righttext {
    font-size: 15px;
    text-align: right;
    margin-right: 7%;
    color: #4CAF50;
}