[submodule "ros_workspace/raspicam_node"]
	path = ros_workspace/raspicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node.git
[submodule "ros_workspace/src/usb_cam"]
	path = ros_workspace/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "drivers/ivport-v2"]
	path = drivers/ivport-v2
	url = https://github.com/ivmech/ivport-v2.git
