<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Voltage</h2>
</div>
<h2 class="righttext">48 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Voltage</h2>
</div>
<h2 class="righttext">16 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Temperature</h2>
</div>
<h2 class="righttext">50 Celsius</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Voltage</h2>
</div>
<h2 class="righttext">48 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Voltage</h2>
</div>
<h2 class="righttext">16 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Temperature</h2>
</div>
<h2 class="righttext">50 Celsius</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Temperature</h2>
</div>
<h2 class="righttext">50 Celsius</h2>
<hr class="line mt-2">
<div class="spacing"></div>
<mat-grid-list cols="2" rowHeight="2.5:1" class="camera-buttons mt-0">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button style="background-color: #4CAF50;" class="systembutton">
        <h2 class="my-3">Set</h2>
      </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button color="warn" class="systembutton">
        <h2 class="my-3">Reset</h2>
      </button>
  </mat-grid-tile>
</mat-grid-list>
