<launch>
 <!-- joystick -> vectorCommand-->
  <node pkg="rov_control_interface" type="logi_joystick" name="vectorCommand"/>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="rov_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
  </node>

 <!-- Thrusters Enabled -->
  <param name="thrustersEnabled" value="false" />

</launch>
