<mat-sidenav-container class="sidenav-container" color="secondary">
  <mat-sidenav opened #sidenav mode="side" [fixedInViewport]=true id="sidenav">
    <div class="centeringdiv"></div>
    <mat-nav-list color="primary" *ngFor="let icon of icons">

      <a mat-list-item
      (click)="selected(icon)"
       href='{{ icon.link }}'
      >
        <img #House
        id="icons.id"
        [src]="icon.selected ? icon.clickedsrc : icon.src"
        alt="Home"
        width="42"
        height="42"
        border="0"
        >
      </a>

    </mat-nav-list>
    <div class="centeringdiv"></div>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: hidden;">
    <!-- Router Outlet means that all navigable links go through this outlet -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>