<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Voltage</h2>
</div>
<h2 class="righttext">48 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Voltage</h2>
</div>
<h2 class="righttext">16 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Temperature</h2>
</div>
<h2 class="righttext">50 Celsius</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Voltage</h2>
</div>
<h2 class="righttext">48 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Input Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Voltage</h2>
</div>
<h2 class="righttext">16 V</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Output Current</h2>
</div>
<h2 class="righttext">30 Amps</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Temperature</h2>
</div>
<h2 class="righttext">50 Celsius</h2>
<hr class="line mt-2">
<div style="width: 50%; margin-left: 7%; float: left;">
  <h2 class="smalltext">Temperature</h2>
</div>
<h2 class="righttext">50 Celsius</h2>
<hr class="line mt-2">