<launch>

 <!-- horizontal vector drive node -->
   <node pkg="vector_drive" type="horiz_drive" name="horiz_drive"/>

 <!-- vertical vector drive node -->
    <node pkg="vector_drive" type="vert_drive" name="vert_drive"/>

 <!-- harware interface -->
   <node respawn="true" pkg="hardware_interface" type="hw_thruster_controller_interface.py"
	    name="hw_thruster_controller_interface">
      <param name="thrusterControllerPort" value="/dev/ttyUSB0"/>
   </node>

   <!-- camera switching -->
   <node pkg="hardware_interface" ns="rov" type="cameraSwitch.py" name="cameraSwitch"/>

  <!-- start rpi pilot cameras -->
  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
    <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_1280x960.yaml"/>
    <param name="width" value="1280"/>
    <param name="height" value="960"/>
    <param name="quality" value="100"/>
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="pilot_cam"/>
  </node>

 <!-- start reading sensor data from DRQ1250s -->
 <node pkg="drq1250" type="drq1250_ros.py" name="drq1250_1" args="0x08">
   <remap from="rov/drq1250" to="rov/drq1250_1"/>
 </node>

 <node pkg="drq1250" type="drq1250_ros.py" name="drq1250_2" args="0x0A">
   <remap from="rov/drq1250" to="rov/drq1250_2"/>
 </node>

 <!-- start reading the depth sensor -->
  <node pkg="ms5837" name="depth_sensor" type="ms5837_ros.py"/>

 <!-- launch all the sensors -->
  <node type="sensor-hat.py" pkg="sensor_readout" name="sensor_interface"/>

</launch>
