<launch>
 <!-- joystick -> vectorCommand-->
  <node pkg="rov_control_interface" type="drive_control" name="drive_control"/>

 <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="rov_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- temp copilot interface -->
   <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="copilot_interface"/>

 <!-- temp pilot interface -->
    <node pkg="rqt_image_view" type="rqt_image_view" name="pilot_interface"/>

 <!-- tcu board -->
    <node pkg="rosserial_python" type="serial_node.py" name="tcu_board">
        <param name="port" value="/dev/ttyACM0"/>
     </node>

</launch>
