<mat-card class="fullcard">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content id="content">
    <img style="margin-top: 49%;" src="/src/assets/TCU.svg" alt="TCU" width="87%" border="0">
    <div class="constrained">
      <h1 class="title">TCU Data</h1>
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Temperature</h2>
      </div>
      <h2 class="righttext">30 Celsius</h2>
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Voltage</h2>
      </div>
      <h2 class="righttext">48 V</h2>
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Current</h2>
      </div>
      <h2 class="righttext">30 amps</h2>
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Power</h2>
      </div>
      <h2 class="righttext">?</h2>
      <hr class="line mt-2">
    </div>
  </mat-card-content>
</mat-card>