<mat-card class="dashboard-card">
    <app-card-header [card-name]="name"></app-card-header>
    <mat-card-content>
        <mat-slider
            [max]="max"
            [min]="min"
            [thumbLabel]=true
            class="pb-0"
            [step]="step"
            (change)="update()"
            [(value)]="sensitivity.l_scale"
        >
        </mat-slider>
        <p class="mt-0">X Axis</p>
    </mat-card-content>
    <mat-card-content>
        <mat-slider
            [max]="max"
            [min]="min"
            [thumbLabel]=true
            class="pb-0"
            [step]="step"
            (change)="update()"
            [(value)]="sensitivity.v_scale"
        >
        </mat-slider>
        <p class="mt-0">Y Axis</p>
    </mat-card-content>
    <mat-card-content>
        <mat-slider
            [max]="max"
            [min]="min"
            [thumbLabel]=true
            class="pb-0"
            [step]="step"
            (change)="update()"
            [(value)]="sensitivity.a_scale"
        >
        </mat-slider>
        <p class="mt-0">Z Axis</p>
    </mat-card-content>
</mat-card>