<!--<div class="blocker"></div>-->
<mat-card class="slider-card">
  <mat-card-content id="content">
    <div class="mainsliders">
      <h2>Voltage</h2>
      <mat-slider id="slider1" min="0" max="50" step="0.1" value="0" onchange="updateslider1text(this.value);"></mat-slider>
      <h4 id="slider1text">0</h4>
      <h2>Current</h2>
      <mat-slider id="slider2" min="0" max="40" step="0.1" value="0" onchange="updateslider2text(this.value);"></mat-slider>
      <h4 id="slider2text">0</h4>
    </div>
    <div class="secondarysliders">
      <h2>Voltage Max</h2>
      <mat-slider id="max1" min="0" max="50" step="0.1" value="0" onchange="updatemax1text(this.value);"></mat-slider>
      <h4 id="max1text">0</h4>
      <h2>Current Max</h2>
      <mat-slider id="max2" min="0" max="40" step="0.1" value="0" onchange="updatemax2text(this.value);"></mat-slider>
      <h4 id="max2text">0</h4>
    </div>

  </mat-card-content>
</mat-card>
