mat-slider {
  width: 100%;
}

.mainsliders {
  float: left;
  width: 60%;
  margin-left: 2%;
  margin-top: 1% !important;
}

.secondarysliders {
  float: right;
  width: 30%;
  margin-right: 2%;
  margin-top: 1%;
}

.slider-card {
  margin-top: 2%;
  left: 2%;
  width: 96%;
  height: 30%;
}

h2 {
  color: white;
  font-size: 1em;
}

.blocker {
  float: right;
  height: 30%;
  width: 100%;
  z-index: 1000;
  position: absolute;
}
