/* You can add global styles to this file, and also import other style files */
@import "alignment.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

*:focus {
  outline: none !important;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
    width: 420px;
    height: 300px;
    margin: 8px;
    text-align: center;
}

.dashboard-card-long {
    width: 420px;
    height: 650px;
    margin: 8px;
    text-align: center;
}

.more-button {
  position: absolute;
}

.dashboard-card-content {
  text-align: center;
}

.module {
  width: 100% !important;
  height: 100% !important;
}

.mat-card {
  padding: 0px !important;
  border-radius: 20px !important;
  background: #313349 !important;
}

.mat-raised-button {
  border-radius: 8px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mat-drawer-container {
    background-color: #2A2B3C !important;
}
.mat-menu-panel {
    background-color: #2A2B3C !important;
}
.dashboard-card-drq{
    width: 95%;
    height: 95%;
    text-align: center;
}
.dashboard-card-settings{
    width: 95%;
    height: 97%;
    text-align: center;
}
.dashboard-card-drq-status{
    width: 16%;
    height: 86%;
    margin-right: 3%;
    text-align: center;
    float: right;
    background-color: #4CAF50 !important;
}

.fullcard {
    width: 95%;
    height: 94%;
    margin: 8px;
    text-align: center;
}