/* You can add global styles to this file, and also import other style files */
@import "alignment.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

*:focus {
  outline: none !important;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  width: 420px;
  height: 310px;
  border-radius: 20px;
  margin: 8px !important;
  text-align: center;
}

.more-button {
  position: absolute;
}

.dashboard-card-content {
  text-align: center;
}

.module {
  width: 100% !important;
  height: 100% !important;
}

.mat-card {
  padding: 0px !important;
}

.mat-raised-button {
  border-radius: 8px !important;
}