<mat-card class="fullcard">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content id="content">
    <img style="margin-top: 10%;" src="/src/assets/ROVCORE.svg" alt="ROVCORE" width="79%" border="0">
    <div class="udoox86 tooltip">
      <span class="tooltiptext" style="margin-bottom: -97px"><h2>UDOO X86</h2><h2 class="secondtext">86 Celsius</h2></span>
    </div>
    <div class="micro1 tooltip">
      <span class="tooltiptext" style="margin-bottom: -98px"><h2>Microcontroller 1</h2><h2 class="secondtext">86 Celsius</h2></span>
    </div>
    <div class="micro2 tooltip">
      <span class="tooltiptext" style="margin-bottom: -38px"><h2>Microcontroller 2</h2><h2 class="secondtext">86 Celsius</h2></span>
    </div>
    <div class="micro3 tooltip">
      <span class="tooltiptext" style="margin-bottom: -35px"><h2>Microcontroller 3</h2><h2 class="secondtext">86 Celsius</h2></span>
    </div>
    <div class="drq1 tooltip">
      <span class="tooltiptext" style="margin-bottom: -41px"><h2>DRQ 1</h2><h2 class="secondtext">86 Celsius</h2></span>
    </div>
    <div class="drq2 tooltip">
      <span class="tooltiptext" style="margin-bottom: -44px"><h2>DRQ 2</h2><h2 class="secondtext">86 Celsius</h2></span>
    </div>
    <div class="constraint1">
      <h1 class="title">Tube Data</h1>
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Temperature</h2>
      </div>
      <h2 class="righttext">88 Celsius</h2>
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Pressure</h2>
      </div>
      <h2 class="righttext">1.2 ATM</h2>
      <hr class="line mt-2">
    </div>
    <div class="constraint2">
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Humidity</h2>
      </div>
      <h2 class="righttext">13%</h2>
      <hr class="line mt-2">
      <div style="width: 50%; margin-left: 7%; float: left;">
        <h2 class="smalltext">Voltage Draw</h2>
      </div>
      <h2 class="righttext">30 V</h2>
      <hr class="line mt-2">
    </div>
    <div class="constraint3">
      <div class="rovstatus">
        <div style="height: 26%;"></div>
        <h2 class="rovstatustext">ROV CORE STATUS</h2>
      </div>
    </div>
  </mat-card-content>
</mat-card>