.line {
    width: 90%;
    background-color: #8191A8;
}
.smalltext {
    font-size: 15px;
    text-align: left;
    margin-top: 2%;
    color: #8191A8;
}
.righttext {
    font-size: 15px;
    text-align: right;
    margin-right: 7%;
    color: #4CAF50;
}
.constrained {
    width: 81%;
    margin-left: 10%;
}

.title {
    text-align: left;
    margin-left: 7%;
    margin-top: 17%;
}

