<mat-card class="dashboard-card">
    <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content class="p-2">
    <mat-grid-list cols="3" rowHeight="1.7:1" class="camera-buttons mt-0">
        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let camera of cameras; let number of numbers">
            <mat-button-toggle value="{{ number }}">{{ camera }}</mat-button-toggle>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-button-toggle-group name="cameraList" aria-label="Font Style">
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
