<mat-card class="dashboard-card">
    <app-card-header [card-name]="name"></app-card-header>
    <mat-card-content class="p-2">
        <mat-grid-list cols="3" rowHeight="1.7:1" class="camera-buttons mt-0">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera1, 'red': !camera1}" class="px-2 py-2" [value]="1" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">1</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera2, 'red': !camera2}" class="px-2 py-2" [value]="2" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">2</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera3, 'red': !camera3}" class="px-2 py-2" [value]="3" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">3</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera4, 'red': !camera4}" class="px-2 py-2" [value]="4" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">4</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera5, 'red': !camera5}" class="px-2 py-2" [value]="5" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">5</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera6, 'red': !camera6}" class="px-2 py-2" [value]="6" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">6</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera7, 'red': !camera7}" class="px-2 py-2" [value]="7" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">7</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera8, 'red': !camera8}" class="px-2 py-2" [value]="8" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">8</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card-actions>
                    <button mat-raised-button [ngClass]="{'green' : camera9, 'red': !camera9}" class="px-2 py-2" [value]="9" (click)="cameraSwitch($event.target.value)">
                        <h2 class="my-3">9</h2>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
