<mat-card class="dashboard-card">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content class="">
    <h1>{{ minutes }}:{{ seconds }}</h1>
    <button mat-raised-button (click)="startTimer()" color="primary" *ngIf="stopped">Start</button>
    <button mat-raised-button (click)="stopTimer()" color="primary" *ngIf="!stopped">Stop</button>
    <button mat-raised-button (click)="resetTimer()" color="primary" [disabled]="!stopped">Reset</button>
  </mat-card-content>
</mat-card>
