<mat-card class="dashboard-card">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content id="content">
    <!-- Temporary Camera Feed Placeholder -->
    <div style="width:87%;height:180px;background-color: lightgrey;" class="m-auto"></div>
    <mat-form-field>
      <mat-select placeholder="Secondary Camera">
        <mat-option *ngFor="let camera of cameras">
          {{camera}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
