<mat-grid-list cols="4" rowHeight="320px" class="p-1">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-main-camera-module class="module"></app-main-camera-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-secondary-camera-module class="module"></app-secondary-camera-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-timer-module class="module"></app-timer-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" id="app-thruster">
    <app-thruster-sensativity class="module"></app-thruster-sensativity>
  </mat-grid-tile>
</mat-grid-list>

