
<mat-grid-list cols="4" rowHeight="350px" class="p-4">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-main-camera-module class="module"></app-main-camera-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-secondary-camera-module class="module"></app-secondary-camera-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-timer-module class="module"></app-timer-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-thruster-sensativity class="module"></app-thruster-sensativity>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-depth-chart></app-depth-chart>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-velocity-graph></app-velocity-graph>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <app-tools></app-tools>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <app-thrusters></app-thrusters>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-telemetrydata></app-telemetrydata>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-systems></app-systems>
  </mat-grid-tile>
</mat-grid-list>

