<div class="shadow" [ngClass]="{'visible' : visible, 'hidden': !visible}">
  <div class="dialog" [ngClass]="{'animated fadeInDown faster' : visible, '': !visible}">
    <h2 class="title">Party Mode?</h2>
    <h3 class="content">Are you sure you want to party?</h3>
    <div class="buttons">
      <button mat-raised-button color="warn" class="mat-raised-button" (click)="close()">
        Cancel
      </button>
      <button mat-raised-button style="margin-left: 10px; color: white;" class="mat-raised-button partyConfirm" (click)="confirm()">
        PARTY!!!!
      </button>
    </div>
  </div>
</div>
<div class="partyMode" [ngClass]="{'visible' : partyModevisible, 'hidden': !partyModevisible}">
  <button mat-raised-button class="mat-raised-button partyStop" (click)="stop()">
    Stop
  </button>
</div>
<mat-grid-list cols="4" rowHeight="350px" class="p-4">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-main-camera-module class="module"></app-main-camera-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-secondary-camera-module class="module"></app-secondary-camera-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-timer-module class="module"></app-timer-module>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-thruster-sensativity class="module"></app-thruster-sensativity>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-depth-chart></app-depth-chart>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-velocity-graph></app-velocity-graph>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <app-tools></app-tools>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <app-thrusters></app-thrusters>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-telemetrydata></app-telemetrydata>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-systems></app-systems>
  </mat-grid-tile>
</mat-grid-list>
<button mat-button style="color: white;" class="mat-button party" (click)="openConfirm()">
</button>
