<mat-card class="dashboard-card">
  <app-card-header [card-name]="name"></app-card-header>
  <div class="container">
    <div class="imageOne image">
      <img src="../../../../assets/Outside-Circle.png" alt="Outside Circle" id="outside-circle">
    </div>
    <div class="imageTwo image">
      <img src="../../../../assets/Inner-Circle.png" alt="Inner Circle" id="inner-circle">
    </div>
    <div class="image">
      <img src="../../../../assets/Crosshairs.png" alt="Cross Hairs" id="crosshairs">
    </div>
  </div>
</mat-card>
