<mat-card class="dashboard-card">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content id="content">
    <hr class="line mt-2">
    <div style="width: 50%; margin-left: 7%; float: left;">
      <h2 class="smalltext">ROV Temperature</h2>
    </div>
    <app-error-text [align]="'righttext'" [name]="rovTemperature" [unit]="'C'"></app-error-text>
    <hr class="line mt-2">
    <div style="width: 50%; margin-left: 7%; float: left;">
      <h2 class="smalltext">ROV Pressure</h2>
    </div>
    <app-error-text [align]="'righttext'" [name]="rovPressure" [unit]="'millibars'"></app-error-text>
    <hr class="line mt-2">
    <div style="width: 50%; margin-left: 7%; float: left;">
      <h2 class="smalltext">ROV Humidity</h2>
    </div>
    <app-error-text [align]="'righttext'" [name]="rovHumidity" [unit]="'%'"></app-error-text>
    <hr class="line mt-2">
    <div style="width: 50%; margin-left: 7%; float: left;">
      <h2 class="smalltext">ROV Voltage</h2>
    </div>
    <app-error-text [align]="'righttext'" [name]="rovVoltage" [unit]="'%'"></app-error-text>
    <hr class="line mt-2">
    <div style="width: 50%; margin-left: 7%; float: left;">
      <h2 class="smalltext">ROV Current</h2>
    </div>
    <app-error-text [align]="'righttext'" [name]="rovCurrent" [unit]="'%'"></app-error-text>
  </mat-card-content>
</mat-card>
